In [1]:
pwd

'/Users/nmolivo/Documents/Repos/GA-materials/deloitte-hack'

In [11]:
from os import listdir
from os.path import isfile, join
import pandas as pd

In [25]:
listdir("substance-abuse-centers")

['nssastpuf_2014.csv',
 'nssatpuf_2010.csv',
 'nssatpuf_2011.csv',
 'nssatpuf_2012.csv',
 'nssatpuf_2013.csv']

In [99]:
data_a = pd.read_csv('substance-abuse-centers/nssastpuf_2014.csv', sep=",")

/Users/nmolivo/anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (7,8,9,10,17,60) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [100]:
data_a = data_a[["YEAR", "STATE", "OTP"]]

In [101]:
for i in listdir("substance-abuse-centers"):
    file_string = "substance-abuse-centers/"+i
    data_b = pd.read_csv(file_string, sep=",")
    data_a = data_a.append(data_b[["YEAR", "STATE", "OTP"]])

/Users/nmolivo/anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (7,8,9,10,17,60) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/nmolivo/anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (15,54,57,63,65,107) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/nmolivo/anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (17,57,59,61,66,67) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/nmolivo/anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (6,60,63,64,65,70,71,72) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/nmolivo/anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (3,22,24,27,51,69,70,73,75,76,79) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [102]:
data_a.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 83822 entries, 0 to 14147
Data columns (total 3 columns):
YEAR     83822 non-null int64
STATE    83822 non-null object
OTP      83822 non-null object
dtypes: int64(1), object(2)
memory usage: 2.6+ MB

In [103]:
data_a["OTP"].value_counts()

0    63528
0    12862
1     6146
1     1282
D        4
Name: OTP, dtype: int64

In [104]:
data_a=data_a[data_a["OTP"]!="D"]

In [106]:
states = data_a.groupby(["STATE", "YEAR"]).count()

In [113]:
states.reset_index(inplace=True)

In [114]:
states.columns=["STATE", "YEAR", "TOT_FAC"]

In [115]:
data_a["OTP"] = [int(i) for i in data_a["OTP"]]

In [116]:
data_a = data_a[data_a["OTP"]!=0]

In [117]:
data_a.columns

Index(['YEAR', 'STATE', 'OTP'], dtype='object')

In [126]:
fac_by_state.head()

   YEAR STATE  OTP
0  2010    AK    2
1  2010    AL   20
2  2010    AR    3
3  2010    AZ   29
4  2010    CA  136

In [127]:
states.head()

  STATE  YEAR  TOT_FAC
0    AK  2010       77
1    AK  2011       76
2    AK  2012       95
3    AK  2013       93
4    AK  2014      182

In [120]:
fac_by_state.reset_index(inplace = True)

In [132]:
facilities = pd.merge(fac_by_state, states,  how='left', left_on=['STATE','YEAR'], right_on=["STATE", "YEAR"])

In [133]:
facilities.to_csv('fac-by-state.csv')

In [ ]:
data_a = pd.read_csv('asian-pac-islandF09-15.txt', sep=" ", header=None)
for i in listdir("../deloitte-hack")[2:]:
    data_b = pd.read_csv(i, sep=" ", header=None)
    data_a.concat(data_b)